<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-xl-7 p-0 chat">
            <div class="card">
                <div  class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="../../../assets/main-logo.png" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <h3 *ngIf="isLoading">Unique Recruits</h3>
                        </div>
                    </div>
                </div>
                <div  class="card-body msg_card_body">
                    <div *ngFor="let message of messages">
                        <div *ngIf="message.author == adminUser" class="d-flex justify-content-start mb-4">
                            <div *ngIf="isLoading" class="img_cont_msg">
                                <img src="../../../assets/main-logo.png" class="rounded-circle user_img_msg">
                            </div>
                            <div *ngIf="isLoading" class="msg_cotainer">
                                {{message.state.body}}
                                <span class="msg_time">{{ message.state.dateUpdated | date:'short' }}</span>
                            </div>
                        </div>
                        <div *ngIf="message.author != adminUser"  class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                {{message.body}}
                                <span class="msg_time_send">{{ message.dateCreated | date:'short' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <textarea name="message" class="form-control type_msg" [(ngModel)]="message" placeholder="Type your message..."></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text send_btn" ><i class="fas fa-location-arrow" (click)="sendMessage()"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
