<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-xl-2 p-0 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="text-center mt-4">
                    <img src="../../../assets/logo.PNG">
                </div>
                <div class="text-center mt-5 ">
                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle img_user_main">
                    <h4 class="mt-4 text-white">Admin</h4>
                </div>
                <div  class="card-body text-white text-center side_nav">
                    <ul>
                        <li [ngClass]="{'active': statusSelection==='inbox'}" (click)="selectStatus('inbox')">
                            Inbox
                        </li>
                        <li [ngClass]="{'active': statusSelection==='done'}" (click)="selectStatus('done')">
                            Done
                        </li>
                        <li [ngClass]="{'active': statusSelection==='spam'}" (click)="selectStatus('spam')">
                            Spam
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 p-0 chat">
            <div class="card-2 mb-sm-3 p-3 mb-md-0 contacts_card">
                <div class="list-header">
                    <div class="input-group">
                        <h2>MESSAGES</h2>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul *ngIf="isLoading" class="contacts" >
                        <li *ngFor="let conversation of displayConversations; let i = index" [class.active-conversation]="selectedIndex === i">
                            <div class="d-flex bd-highlight" style="cursor: pointer;"  (click)="displayMessages(conversation, i)">
                                <div class="img_cont">
                                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                    <!-- <span class="online_icon"></span> -->
                                </div>
                                <div class="user_info" [class.bold]="conversation.latestMessage.__zone_symbol__value.unread">
                                    <h3>{{conversation._internalState.friendlyName}}</h3>
                                    <p >{{conversation.latestMessage.__zone_symbol__value.message}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-7 p-0 chat">
            <div class="card">
                <div  class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div *ngIf="isLoading" class="user_info">
                            <h3>{{selectedConversation._internalState.friendlyName}}</h3>
                            <p>Last seen at 7:00pm</p>
                        </div>
                    </div>
                    <span class="action_menu_btn"><i class="fas fa-ellipsis-v" (click)="toggleDropDown()"></i></span>
					<div *ngIf="toggle" class="action_menu">
						<ul>
							<li *ngIf="statusSelection == 'spam' || statusSelection == 'inbox'" (click)="markStatus('done')"> Mark Done</li>
							<li *ngIf="statusSelection == 'done' || statusSelection == 'inbox'" (click)="markStatus('spam')"> Mark Spam</li>
							<li *ngIf="statusSelection == 'spam'" (click)="markStatus('inbox')"> Mark Inbox</li>
						</ul>
					</div>
                </div>
                <div  class="card-body msg_card_body">
                    <div *ngFor="let message of messages">
                        <div *ngIf="message.author != adminUser" class="d-flex justify-content-start mb-4">
                            <div *ngIf="isMessages" class="img_cont_msg">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                            </div>
                            <div *ngIf="isMessages" class="msg_cotainer" style="min-width: 90px;max-width: 50%;">
                                {{message.state.body}}
                                <span class="msg_time">{{ message.state.dateUpdated | date:'short' }}</span>
                            </div>
                        </div>
                        <div *ngIf="message.author == adminUser"  class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send" style="min-width: 90px;max-width: 50%;">
                                {{message.body}}
                                <span class="msg_time_send">{{ message.dateCreated | date:'short' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <!-- <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span> -->
                            <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;" style="border:none;background: rgba(0,0,0,0.3);outline: none;">😀</button>
                        </div>
                        <input name="message" class="form-control type_msg" (keyup.enter)="sendMessage()" [(ngModel)]="message" placeholder="Type your message...">
                        <div class="input-group-append">
                            <span class="input-group-text send_btn" (click)="sendMessage()"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                    
                    <emoji-mart class="emoji-mart" style="position: absolute;bottom: 70px;" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>    
                </div>
            </div>
        </div>
    </div>
</div>