<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href="#home" class="w3-bar-item w3-button" style="letter-spacing:6px; color:rgb(76,207,224);font-size:20px">UNIQUE <span style="font-weight:700">RECRUITS</span></a>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="#menu" class="w3-bar-item w3-button">Home</a>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#menu" class="w3-bar-item w3-button">Team</a>
        <a href="#contact" class="w3-bar-item w3-button">More</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact Us</a>
      </div>
    </div>
  </div>
  
  
  <!-- Page content -->
  <div class="w3-content" style="max-width:1100px;height: 90vh;margin-left: 10% !important;">
  
    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
  
      <div class="w3-col m7 pt-5 w3-padding-large">
        <h1 class="">Unique Recruits</h1><br>
        <p class="w3-large">We are always looking for recruits to join our team of
  product testers. "Why product testers?" you may ask. We
  believe that research and development is vital to the
  success of any product. Companies with products have
  hired us to hire you to test their products and the
  products of their competitors. Products that would be
  tested would come from big and small brands. Most
  brands would be recognized in the following
  stores Walmart, Amazon, Rite Aid, Walgreen's, Target,
  Home Depot, and Lowe's (Physical & Online Stores).</p>
      </div>
    </div>
    
    <hr>
    
    <!-- Menu Section -->
    
    
  <!-- End page content -->
  </div>

  
  
  <!-- Page content -->
  <div class="w3-content" style="max-width:1100px;height: 90vh;">
  
    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m2  w3-padding-large"></div>
      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">About Us</h1><br>
        <p class="w3-large">t is inevitable for most business owners with products. If you run a business there is
            always going to be a competitor trying to take what is yours. Most owners of
            products are always competing for the same piece of pie. Most owners of products
            cannot find ways to differentiate. In result margins run to the ground. We know this
            because we have been through it. We stumbled at first but we eventually created a
            formula that would overcome this hurdle. This formula simply allowed us to
            differentiate our products in a BIG way from our competitors to get ahead many
            months. We decided to begin this journey of helping product business owners and
            providing value to product testers</p>
      </div>
    </div>
    
    <hr>
    
    <!-- Menu Section -->
    
    
  <!-- End page content -->
  </div>

  